// Loader ------------------------------
.load_screen {
    background: #444444;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeout 0.2s 3s forwards;

    .spinner_big {
        position: absolute;
        width: 17rem;
        height: 17rem;
        border-radius: 50%;
        border: 3rem solid rgba(161, 160, 160, 0);
        border-top: 3rem solid #9356dc;
        border-left: 3rem solid #9356dc;
        border-bottom: 3rem solid #9356dc;
        animation: spinneroff 0.8s 0.2s 5;
    }

    .spinner {
        border: 2rem solid rgba(161, 160, 160, 0);
        border-top: 2rem solid #ff79da;
        border-right: 2rem solid #ff79da;
        border-bottom: 2rem solid #ff79da;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        opacity: 1;
        animation: spinner 0.8s 0.2s 5;
        position: absolute;
    }

    .spinner_small {
        position: absolute;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        border: 1.5rem solid rgba(161, 160, 160, 0);
        border-top: 1.5rem solid #99e2d0;
        border-left: 1.5rem solid #99e2d0;
        border-bottom: 1.5rem solid #99e2d0;
        animation: spinneroff 0.8s 0.2s 5;
    }
}

@keyframes fadeout {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
        visibility: hidden;
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinneroff {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
